header{background: #d5a6a9;}
.contentA{background: #b3d874;}
.contentB{background: #6fb5ff;}
footer{background: #ffce5b;}
 
.contentA,.contentB{
 width: 50%;
 height: 100px;
}
 
.main{
 display: flex;
}