/* header{background: #d5a6a9;}
.contentA{background: #b3d874;}
.contentB{background: #6fb5ff;}
footer{background: #ffce5b;}
  */
.contentA,.contentB{
 width: 30%;
 height: 1000px;
}
 
.main{
 display: flex;
}

h1 {
    color: #364e96;/*文字色*/
    border: solid 3px #364e96;/*線色*/
    padding: 0.5em;/*文字周りの余白*/
    border-radius: 0.5em;/*角丸*/
  }