/* header{background: #d5a6a9;}
.contentA{background: #b3d874;}
.contentB{background: #6fb5ff;}
footer{background: #ffce5b;}
  */
.contentA,.contentB{
 width: 30%;
 height: 1000px;
}
 
.main{
 display: flex;
}

h1 {
    color: #364e96;/*文字色*/
    border: solid 3px #364e96;/*線色*/
    padding: 0.5em;/*文字周りの余白*/
    border-radius: 0.5em;/*角丸*/
  }
  /* https://qreat.tech/2712/ */
* {
  margin: 0;
  padding: 0;
}

.app {
  width: 100vw;
  /* height: 100vh; */
  height: 100;
  display: flex;
  flex-direction: column;
}

.header {
  height: 148px;
  background-color: lightcyan;
  box-sizing: border-box;
  border: 8px solid blue;
}

.content {
  flex-grow: 1;
  background-color: palegoldenrod;
  box-sizing: border-box;
  /* border: 8px solid green; */
  /* height: 100%; */
  height: 78vw;
  margin: 0;
}

.sidebar {
  flex-grow: 1;
  width: 10px;
  background-color: rgb(211, 164, 230);
  box-sizing: border-box;
  border: 8px solid rgb(158, 11, 151);
}


